////
/// Background text element
////
.background-text
    font-size: rem(400)
    font-weight: 800
    font-style: italic
    line-height: 1em
    letter-spacing: normal
    text-align: center
    display: inline
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%) rotate(-10deg)
    z-index: 0