////
/// Background text element
////
.background-text
    font-size: rem(360)
    // font-size: 9vw
    font-weight: $weight-extrabold
    line-height: 1.2em
    letter-spacing: normal
    text-align: center
    display: inline
    position: fixed
    width: 100%
    white-space: nowrap
    left: 50%
    top: 50%
    transform: translate(-50%, -50%) rotate(-5deg) skew(-5deg)
    z-index: 0
    pointer-events: none
    transition: opacity 0.25s ease

    &--is-not-opaque
      opacity: 0

    +until($widescreen)
      font-size: rem(300)

    +until($desktop)
      font-size: rem(240)

    +touch
      font-size: rem(180)

    +mobile
      font-size: rem(140)
