////
/// Home page introduction styles
////
.homepage-introduction
    margin-top: rem(300)
    
    h1,h2,h3
        + p
            margin-top: rem(60)
    p
        font-size: rem(30)
        font-weight: $weight-bold
        font-style: normal
        line-height: em(34, 30)