.blockquote
  // @extend .is-3
  // margin-top: auto
  // margin-bottom: auto
  padding: rem(40) !important

  &__quote
    font-weight: $weight-medium
    font-style: italic
    font-size: rem(24)
    line-height: em(32, 24)
    position: relative
    margin: 0 !important
    padding: 0
    overflow: hidden

    // +mobile
    //   font-size: rem(24) !important
    //   line-height: em(30, 24) !important

    // +until($widescreen)
    //   font-size: rem(24) !important
    //   line-height: em(32, 24) !important

    // +fullhd
    //   font-size: rem(36) !important
    //   line-height: em(46, 36) !important

    + .blockquote__footer
      margin-top: rem(30)

    &:before
      content: '\201C'

    &:after
      content: '\201D'

  &__footer
    font-size: rem(18)
    line-height: em(24, 18)

    a
      text-decoration: underline
      &:hover
        text-decoration: none

    +widescreen
      font-size: rem(16)
      line-height: em(22, 16)

    +fullhd
      font-size: rem(18)
      line-height: em(24, 18)
