////
/// Bulma Overrides for navbar.
////
.navbar
    padding: rem(30)
    pointer-events: none

    &--is-white
      color: $white

      .hamburger
        &-inner
          background-color: $white !important

          &:before,
          &:after
            background-color: $white !important

      .navbar-end
        .navbar-item
          color: $white !important

          &:after
            background-color: $white !important

    .navbar-brand,
    .hamburger
        pointer-events: all

    .navbar-menu
      flex-direction: column
      position: relative
      display: none
      overflow: visible !important
      margin-left: auto

      &.is-visible
        display: block

    .navbar-menu-outer
        display: inline-block
        overflow: hidden

    .navbar-end
        position: absolute
        top: rem(40)
        right: rem(30)
        overflow: hidden
        transition: all 0.125s ease
        text-align: right
        display: block
        pointer-events: all
        transform-origin: top right
        transform: translate3d(0, 0, 0) scale(0)
        backface-visibility: hidden

        +mobile
          right: 0
          top: rem(80)
          transform: translate3d(0, 0, 0) scale(0)

          &.is-clicked
              z-index: 100
              transform: translate3d(0, 0, 0) scale(0.8)

              .navbar-item
                color: $black

        &.is-visible
          z-index: 100
          transform: translate3d(0, 0, 0) scale(1.0)

          +mobile
            transform: translate3d(0, 0, 0) scale(0)

            &.is-clicked
                z-index: 100
                transform: translate3d(0, 0, 0) scale(0.8)

                .navbar-item
                  color: $black

          .navbar-item
            color: $black

        .navbar-item
            display: table
            padding: 0
            margin-left: auto
            align-text: right
            transform-origin: right bottom
            transform: rotate(-5deg) skew(-5deg)
            font-size: rem(48)
            line-height: 1.2em
            font-weight: 800
            color: transparent
            text-decoration: none

            &:after
                position: absolute
                right: 0
                bottom: 1px
                width: 100%
                height: rem(5)
                background: $black
                content: ''
                display: block
                transition: width 0.25s ease

            &:hover
                &:after
                    width: 0

            &:last-child
                margin-bottom: rem(40)
