////
/// Homepage header - initial screen seen on homepage.
////
.homepage-header
    // width: 100vw
    // min-height: 100vh
    // height: 100%
    // position: relative
    // background-attachment: fixed

    h1
      font-size: rem(60)
      font-weight: $weight-bold
      line-height: 1em

      +mobile
        font-size: rem(40)
        text-align: center
